body {
  padding-bottom: 300px;
}

div.intro {
  margin: 100px auto;
  padding: 0 .5em;
  width: 500px;
}

/**
 * Frame-by-frame animations
 */

@keyframes loader {
  to { background-position: -800px 0; }
}

.loader {
	margin: 0 auto;
  width: 100px; height: 100px;
  text-indent: 999px; overflow: hidden; /* Hide text */
  background: url(http://dabblet.com/img/loader.png) 0 0;
  animation: loader 1s infinite steps(8);
}