body {
  padding-bottom: 300px;
}

div.intro {
  margin: 100px auto;
  padding: 0 .5em;
  width: 500px;
}

/**
 * Animation along a circular path - Solution 1
 */
 
@keyframes spin {
  to { transform: rotate(1turn); }
}

.avatar {
  animation: spin 3s infinite linear;
  transform-origin: 50% 150px;
}

.avatar > img {
  animation: inherit;
  /* reverse 可以得到原始动画的反向版本 */
  animation-direction: reverse;
}

/* Anything below this is just styling */

.avatar {
  width: 50px;
  margin: 0 auto;
  border-radius: 50%;
  overflow: hidden;
}

.avatar > img {
  display: block;
  width: inherit;
}

.path {
  margin: 0 auto;
  width: 300px; height: 300px;
  padding: 20px;
  border-radius: 50%;
  background: #fb3;
}