
dt, dd { display: inline; }
dd {
  margin: 0;
  font-weight: bold;
}

dd + dt::before {
  /* 有一个Unicode 字符是专门代表换行符的：0x000A。在CSS 中，这个字符可以写作"\000A"，或简化为"\A"。 */
  content: '\A';
  /* 保留源代码中的这些空白符和换行 */
  white-space: pre;
}
dd + dd::before {
  content: ', ';
  margin-left: -.25em;
  font-weight: normal;
}

/* 千万要记住，如果你的结构代码在多个连续的<dd> 之间包含了（未加注释的）空白符，那么逗号前面会有一个空格。有很多方法可以修复这个问题，但都不够完美。其中一种方法是利用负外边距。
这个方法可行，但不够可靠。如果你的内容是以不一样的字体和尺寸来显示的，这个空隙的宽度就不一定刚好是0.25em。在这种情况下，结果看起来就不那么理想了。不过对绝大多数字体来说，这种误差基本上是可以忽略的。
*/