/* 在打印媒介中，两端对齐总是与连字符断行相辅相成的。因为连字符允许单词在音节分界处断开并折行，所以在处理对齐时所需要调整的间距就少得多了，文本看起来也自然很多。 */
/* 文本折行原理：贪婪算法、Knuth-Plass算法，浏览器一般为贪婪算法。 */
/* 若浏览器不兼容，也会回退至默认的样式 */

.box {
  width: 120px;
  height: 200px;
  margin: 20px auto;
  padding: 5px;
  background-color: #58a;
  color: #fff;
}

/* 解决方案
 * CSS 文本（第三版）引入了一个新的属性hyphens。它接受三个值：
 * none、manual 和auto。manual 是它的初始值，其行为正好对应了现有的工作方式：我们可以在任何时候手工插入软连字符，来实现断词折行的效果。很显然hyphens: none; 会禁用这种行为；而最为神奇的是，只需这短短一行CSS 就可以产生我们梦寐以求的效果：
 * hyphens: auto;
 * 为了确保它奏效，必须在html标签的lang属性中指定合适的语言
 */
.box2 {
  text-align: justify;
  hyphens: auto;
}

/* 如果需要更细粒度地控制连字符的行为（比如在简短的引文中），你仍然可以通过一些软连字符（&shy;）来辅助浏览器进行断词。这个hyphens属性会优先处理它们，然后再去计算其他可以断词的地方。 */
